[submodule "itTalent050-reciclar/redciclarApp"]
	path = itTalent050-reciclar/redciclarApp
	url = https://github.com/fredymarinhm/redciclarApp.git
[submodule "itTalent050-apportar/Aprende2600"]
	path = itTalent050-apportar/Aprende2600
	url = https://github.com/cursoFullStack/Aprende2600.git
[submodule "itTalent050-violenciaGenero/Violenciagenero"]
	path = itTalent050-violenciaGenero/Violenciagenero
	url = https://github.com/nataliaproyect/Violenciagenero.git
[submodule "itTalent050-contactoNatural/humedarium"]
	path = itTalent050-contactoNatural/humedarium
	url = https://github.com/edgarmillan/humedarium.git
